In [1]:
# import libraries
import pandas as pd
import ast

In [2]:
# read moderator_dimension.csv
mod = pd.read_csv("./moderator_dimension.csv")
mod.head()

,moderator,market,Productivity,Utilisation %,handling time,accuracy
0,1689841547143170,"[""SA"", ""OM"", ""BH"", ""QA"", ""JO"", ""IQ"", ""KW"", ""EG...",286.217674,0.812403,123549,-
1,1686755036370945,"[""RO""]",174.560000,0.704833,25547,0.959
2,1741913197768705,"[""VN""]",334.376000,0.819167,50794,1.000
3,1743415203890193,"[""MX"", ""UY"", ""CL"", ""AR"", ""CO"", ""EC"", ""PE"", ""BR""]",452.277500,0.775474,89626,0.941
4,1710346282427393,"[""PH""]",612.312500,0.843229,98066,0.887

In [3]:
# get unique values in market into a list
vals = list(set(mod["market"]))
unique_vals = set()
for item in vals:
    values = [v.strip(' "[]') for v in item.split(',')]
    unique_vals.update(values)
unique_values_list = sorted(list(unique_vals))
print(unique_values_list)

['AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH', 'BR', 'BY', 'CA', 'CH', 'CL', 'CO', 'CY', 'CZ', 'DE', 'DK', 'DZ', 'EC', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'HR', 'HU', 'ID', 'IE', 'IL', 'IQ', 'IT', 'JO', 'JP', 'KH', 'KR', 'KW', 'KZ', 'LB', 'LT', 'LV', 'MA', 'ME', 'MX', 'MY', 'NL', 'NO', 'NZ', 'OM', 'OTHER', 'PE', 'PH', 'PK', 'PL', 'PT', 'QA', 'RO', 'RU', 'SA', 'SE', 'SG', 'SI', 'TH', 'TN', 'TR', 'TW', 'UA', 'US', 'UY', 'UZ', 'VN', 'ZA']

In [4]:
# convert string of list to list for column market
mod["market"] = mod["market"].apply(ast.literal_eval)
mod.head()

,moderator,market,Productivity,Utilisation %,handling time,accuracy
0,1689841547143170,"[SA, OM, BH, QA, JO, IQ, KW, EG, LB]",286.217674,0.812403,123549,-
1,1686755036370945,[RO],174.560000,0.704833,25547,0.959
2,1741913197768705,[VN],334.376000,0.819167,50794,1.000
3,1743415203890193,"[MX, UY, CL, AR, CO, EC, PE, BR]",452.277500,0.775474,89626,0.941
4,1710346282427393,[PH],612.312500,0.843229,98066,0.887

In [5]:
# add columns in unique_values_list
for i in unique_values_list:
    mod[i] = 0
mod.head()

,moderator,market,Productivity,Utilisation %,handling time,accuracy,AE,AR,AT,AU,...,TH,TN,TR,TW,UA,US,UY,UZ,VN,ZA
0,1689841547143170,"[SA, OM, BH, QA, JO, IQ, KW, EG, LB]",286.217674,0.812403,123549,-,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1686755036370945,[RO],174.560000,0.704833,25547,0.959,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1741913197768705,[VN],334.376000,0.819167,50794,1.000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1743415203890193,"[MX, UY, CL, AR, CO, EC, PE, BR]",452.277500,0.775474,89626,0.941,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1710346282427393,[PH],612.312500,0.843229,98066,0.887,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# iterate through rows and update the corresponding cells
for index, row in mod.iterrows():
    for value in row['market']:
        mod.at[index, value] = 1

# drop "market column"
mod.drop(columns=["market"], inplace = True)
mod.head()

,moderator,Productivity,Utilisation %,handling time,accuracy,AE,AR,AT,AU,BE,...,TH,TN,TR,TW,UA,US,UY,UZ,VN,ZA
0,1689841547143170,286.217674,0.812403,123549,-,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1686755036370945,174.560000,0.704833,25547,0.959,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1741913197768705,334.376000,0.819167,50794,1.000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1743415203890193,452.277500,0.775474,89626,0.941,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1710346282427393,612.312500,0.843229,98066,0.887,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
mod = mod.dropna(axis = 0, subset = ["Productivity", "Utilisation %"])

In [8]:
mod.rename(columns={'  accuracy  ': 'accuracy'}, inplace=True)

In [12]:
# drop -
mod.drop(mod[mod["accuracy"] == "                  -   "].index, inplace = True)

In [13]:
mod.to_csv("./cleaned_moderator_dimension.csv", index = False)